@model List<Blog>
@{
    ViewData["Title"] = "Blog Page";
}
<div class="container-fluid">
    <h1 class="text-center mb-4">Blog Page</h1>
    
    <div class="row">
        <div class="col-md-3">
            <h2>Menu</h2>
            <ul class="list-unstyled">
                <li><a class="nav-link text-dark" asp-action="Index">Blog Home</a></li>
                <li><a class="nav-link text-dark" asp-action="Post">Create New Post</a></li>
                <li><a class="nav-link text-dark" asp-action="TopPosts">Top Posts</a></li>
                <li><a class="nav-link text-dark" asp-action="About">About</a></li>
            </ul>
        </div>
        
        <div class="col-md-9">
            @if (Model != null && Model.Any())
            {
                foreach (var post in Model)
                {
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">@post.BlogTitle</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                By @post.BlogAuthor.Name on @post.BlogDate.ToString("MMM dd, yyyy")
                            </h6>
                            <p class="card-text">@post.BlogText</p>
                            <div class="text-muted">
                                Rating: @post.BlogRating/5
                                <br />
                              
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No blog posts yet. Be the first to create one!</p>
            }
            
            <div class="mt-4">
                <a class="btn btn-primary" asp-action="Post">Create New Post</a>
            </div>
        </div>
    </div>
</div>